<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" color = "red"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <button mat-button (click)="drawer.close()"aria-label="Toggle sidenav">
          <mat-icon>home</mat-icon>
      </button>
      <mat-nav-list>
        <a mat-list-item href="#">Deutsch</a>
        <a mat-list-item href="#">Englisch</a>
        <a mat-list-item href="#">Italienisch</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
    <div class="menu">
    <!-- <mat-sidenav-content class="sidenav" color="primary"> -->
      <!-- <mat-toolbar color=""> -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$  "
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- <span>angular-example</span> -->
      <!-- </mat-toolbar> -->
      <!-- Add Content Here -->
    <!-- </mat-sidenav-content> -->
  </div>




