@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.sidenav-container {
  height: 200 px;
}

.sidenav {
  width: 200px;
  background-color: aliceblue;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
sidenav-content
{
 width: 200px;
}
.menu{
height: 30px;
width: 30px;

}
