

<div id="gridcontainer">
  <div id="item1">
      <div>
          <app-side-nav></app-side-nav>
      </div>
      <!-- <app-side-nav></app-side-nav> -->
      <!-- <app-city-search></app-city-search> -->
    <!-- <ul>
      <li><label>Name:</label> <input name="fn">
      <li><label>Address:</label> <input name="address">
      <li><label>Phone:</label> <input name="phone"> fxLayoutAlign="end"
    </ul> -->
  </div>
  <div id="item2">
      <!-- <div id="pointer-end"> -->
          <app-city-search></app-city-search>
      <!-- </div> -->
    </div>
  <div id="item3">

  </div>
  <div id="item4">


      <!-- <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>angular-example</span>
          </mat-toolbar>
           Add Content Here
        </mat-sidenav-content> -->

		<!-- <div	fxLayout="row"> -->



  </div>
  <div id="item5"></div>
</div>





