/* app-city-search{

  float: right;
} */

#gridcontainer {
  display: grid;
  grid-template-areas: "header header header1"
    "sidebar content right"
    "sidebar content right";
  grid-template-columns: 150px 1fr auto ;
  grid-template-rows: 130px 1fr 550px;

  grid-gap: 10px 10px;
  /* grid-gap: 10px 10px; */
  /* grid-column-gap: 10px; */
  /* border-radius: 5px; */
  padding: 0px;
}

#item1 {
   grid-area: header;

  /* grid-auto-columns:1 / 1 / 2 / 1; */
  background-color: bisque;
  border-radius: 5px;
}
#item2 {
  grid-area: header1;

  /* justify-self:end; */
  background-color: bisque;
  border-radius: 5px;
}


#item3 {
  grid-area: sidebar;
  padding-right: 5px;
  background-color:antiquewhite;
  border-radius: 5px;
}
#item4 {
  grid-area: content;

  background-color: ivory;
  border-radius: 5px;
}
#item5 {
  grid-area: right;

  background-color: beige;
  border-radius: 5px;
}

ul {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 270px;
  border: solid;
  border-radius: 5px;
}



li {
  display: grid;
  grid: subgrid;
  margin: 0.5em;
  padding: 0.5em;
}

label {
  grid-column: 1;
  border-radius: 5px;
}

input {
  grid-column: 2;
  border-radius: 5px;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 30px;
  height: 30px;
  line-height: 30px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
