<form class="example-form">
		<mat-form-field class="example-full-width">
				<mat-icon	matPrefix></mat-icon>
				<input	matInput	placeholder="Enter	needed word"
	[formControl]="search"class="form-control" >
    </mat-form-field>

    <button mat-stroked-button (click)="onLogin()">
       Ok
      </button>
</form>


