.example-form {
  /* display: inline-grid;
      display: table-caption;
    float: right; */
  /* min-width: 150px; */
  /* max-width: 500px;
  width: 100%; */
  display: table-caption;
}

.example-full-width {
  /* width: 100%; */
}
